body {
  background-color: #000000;
}

input {
  align-items: center;
  text-align: center;
  margin: 10px;
  background-color: #000000;
  color: rgb(255, 255, 255);    
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.2);
  }

button {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 10%;
  border: 0px;
  box-shadow: 1px 1px 1px rgb(61, 61, 61);
}

p {
  color: #ffff;
}

@keyframes slideInTop {
  from {
    transform: translateY(-500px);
  }

  to {
    transform: translateY(0px);
  }
}

.container {
  color: #ffff;

  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 650px;
  transform: scale(2);

  animation-name: slideInTop;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;
}